# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Streamlit cache
.streamlit/cache/

# Log files
*.log

# Local config
*.env
config.ini
secrets.toml

# Data files
*.csv
!interest_recommended_careers_with_descriptions.csv
